body {
	margin: 0;
	font-family: 'Monaco', 'Source Code Pro', 'Consolas', monospace;
	background: #3934B9;
}
.center-box {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}
@media (min-width: 700px) {
	.center-box {
		width: 80vw;
		height: 600px;
		max-height: 100%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.2);
		box-shadow: 0 1px 7px 0 rgba(0,0,0,0.2);
	}
}
#calculator {
	right: 0;
}
#variables {
	left: 0;
	background: #59A9FF;
	color: #fff;
	width: 20vw;
}
.variable {
	position: relative;
	display: flex;
	border-bottom: 1px solid #fff;
}
.variable .variable-render {
	position: relative;
	width: 100%;
}

#input {
	width: 100%;
	font: inherit;
	font-size: 28px;
	padding: 5px;
	border: none;
	background: #29A6FF;
	color: #fff;
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0;
}
#input:focus {
	outline: none;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
}
#tidy-btn {
	position: absolute;
	bottom: 0;
	right: 0;
	font: inherit;
	font-size: 20px;
	border: 0;
	color: #fff;
	background: #29A6FF;
	height: 47px;
}
#tidy-btn:active {
	background: #fff;
	color: #29a6ff;
}
#tidy-btn:focus {
	outline: none;
	border-left: 1px solid #fff;
}

#output {
	height: calc(100% - 38px);
	width: 100%;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: #F7F7FF;
}
#outputMath {
	margin-right: 5px;
}
#outputResult {
	display: flex;
	align-items: center;
}
#outputFraction:not(:empty) {
	margin-right: 8px;
}
#outputExact:not(:empty) {
	margin-right: 5px;
}
#output.error {
	color: #EC2E45;
}
#output.error:empty {
	font-size: 32px;
}
/* TODO: .empty */
#output.error:empty::before {
	content: "error";
}